@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	background-color: #d5e1df;
	padding: 10px 200px;
}

ul {
	display: flex;
}

li {
	list-style: none;
	padding: 5px 10px;
	margin-right: 8px;
	background-color: #61a181;
	border-radius: 4px;

}
li:hover{
	background-color: #41b57b;
}

a {
	text-decoration: none;
	color:#ffffff;
}

.Hero-Container{
	background-color:#78c29d;
	text-align:center;
	height:600px;
}

.Hero-Container h1{
	font-weight: 700;
	font-size: xxx-large;
	
	padding-top:200px;

}
.Hero-Container h3{
	font-weight: 500;
	color:white;
	margin-bottom:20px;
}
#btn-hero{
	background-color: #fdeb6a;
	font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    height:50px;
    border-radius: 25px;
    border:none;
}
#btn-hero:hover{
	background-color: #FFF4A3;
}
.img{
	width: 50px;
	height:20px;
}


.main-Continer {
	 display: flex;
  align-items: center;
  justify-content: center;
     
}

.container {
	
	/*margin: 20px;*/
	background-color: antiquewhite;
	border-radius: 5px;
	margin: 20px;
	
	width: 400px;
	height:420px;
	
}

.container:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	/*display: block;*/
}

/*img {
	width: 150px;
	height: 160px;
	padding: 10px 10px;
}*/

.right-content {
	/*padding: 15px 0 0 1s0px;*/
	/*padding: 15px 0 15px 15px;*/
	display: block;
	margin-right:50px;
	text-align:center;
}

.right-content button {
	background-color: rgb(1, 125, 1);
	margin-top:4px;
	padding: 12px 18px;
	border: none;
	color: #ffffff;
	border-radius: 4px;
	
	
	cursor: pointer;
}

.right-content button:hover {
	background-color: rgb(0, 105, 0);
}

#date {
	color: rgb(142, 145, 145);
	font-weight: 50;
}